<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestTask.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <TestTask.Properties.Settings>
            <setting name="DefaultJsonPath" serializeAs="String">
                <value>./Translations</value>
            </setting>
            <setting name="MessagesFileNamePattern" serializeAs="String">
                <value>Messages.*.json</value>
            </setting>
            <setting name="ReReadDirectoryPeriodSec" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LocalAddress" serializeAs="String">
                <value>http://localhost:1234</value>
            </setting>
            <setting name="DefaultRequestsCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RequestTimeoutSec" serializeAs="String">
                <value>30</value>
            </setting>
        </TestTask.Properties.Settings>
    </applicationSettings>
</configuration>